github-copilot
htop
.DS_Store
yarn/global
xbuild
thefuck
solana
sanity
nvim-backup
nvim-backup2
kickstart.nvim
configstore/update-notifier-@thirdweb-dev
crossnote
gh
neonctl
zed/conversations/*
zed/prompts/*
